@model Client_Manager_App_Models.ClientModel

<style>
    .modal-body {
        max-width: 100%;
        overflow: hidden;
    }

        .modal-body p {
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            .modal-body p strong {
                font-weight: bold;
            }
</style>

<div class="text-dark">
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    @if (!string.IsNullOrEmpty(Model.PlatformUrl))
    {
        <p><strong>Platform URL:</strong> @Model.PlatformUrl</p>
    }
    <p><strong>Time Email Sent:</strong> @Model.TimeEmailSent.ToString("MM/dd/yyyy HH:mm:ss")</p>
    <p><strong>Last Updated:</strong> @Model.LastUpdated.ToString("MM/dd/yyyy HH:mm:ss")</p>
    <p><strong>Is Rejected:</strong>@(Model.IsRejected ? "Yes" : "No")</p>
    @if (!string.IsNullOrEmpty(Model.MaxOffer))
    {
        <p><strong>Max Offer:</strong> @Model.MaxOffer</p>
    }
    <p><strong>Client Type:</strong> @Model.ClientType</p>
    <p><strong>Return Rate:</strong> @Model.ReWorkingRate</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Country:</strong> @Model.Country</p>
    <p><strong>Editing Type:</strong> @Model.EditingType</p>
    <p><strong>Is Scammer:</strong>  @(Model.IsScammer ? "Yes" : "No")</p>
    <p><strong>Agency:</strong>  @(Model.HasAgency ? "Yes" : "No")</p>
    <p><strong>Payment Type:</strong> @Model.PaymentType</p>
</div>
