@model IEnumerable<Client_Manager_App_Models.ClientModel>

@{
    ViewData["Title"] = "Client Management";
}
<style>
   .equal-height-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Spread cards evenly across the row */
    }

    .card {
        width: calc(33.3333% - 20px); /* Adjust for margin */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        overflow: hidden;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
    }

    .card-text {
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

@using (Html.BeginForm("Client", "Admin", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search clients"
            aria-label="Search clients">
        <select name="filterBy" id="filterBy" class="form-control">
            <option value="">Filter by...</option>
            <option value="Name">Name</option>
            <option value="Email">Email</option>
            <option value="MaxOffer">Max Offer</option>
        </select>
        <select name="ClientType" id="ClientType" class="form-control">
            <option value="">Client Type</option>
            @foreach (var clientType in Enum.GetValues(typeof(Client_Manager_App_Models.ClientType)))
            {
                <option value="@clientType">@clientType</option>
            }
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
}



@if (TempData["Success"] != null)
{
    <script>
        $(document).ready(function () {
            $('#responseModal').modal('show');
        });
    </script>
}

<div class="modal" id="responseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Response</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal">

                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">@TempData["Success"]</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="container">
    <h1>Client Management</h1>

    @if (Model != null && Model.Any())
    {
        <div class="row equal-height-cards">
            @foreach (var client in Model)
            {
                <div class="card">
                    <h5 class="card-title text-dark">@client.Name</h5>
                    <p class="card-text text-dark">@Html.DisplayFor(modelItem => client.Email)</p>
                    <p class="card-text text-dark"><strong>Platform URL:</strong> @client.PlatformUrl</p>
                    <p class="card-text text-dark"><strong>Time Email Sent:</strong>
                        @client.TimeEmailSent.ToNepalTime().ToString("yyyy-MM-dd HH:mm:ss")</p>
                    <p class="card-text text-dark"><strong>Is Rejected:</strong> @(client.IsRejected ? "Yes" : "No")</p>
                    <p class="card-text text-dark"><strong>Max Offer:</strong> @client.MaxOffer</p>
                    <p class="card-text text-dark"><strong>Client Type:</strong> @client.ClientType</p>
                    <div class="text-center">
                        <a asp-area="Admin" asp-controller="Admin" asp-action="Edit" asp-route-id="@client.Id"
                            class="btn btn-primary">Edit</a>
                        <a asp-controller="Admin" class="btn btn-danger delete-client-btn"
                            data-client-id="@client.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No clients found.</p>
    }

    <a asp-controller="Admin" asp-action="Create" class="btn btn-success btn-lg btn-block mt-4">Create New Client</a>
</div>
<script>
    $(document).ready(function () {
        $('.delete-client-btn').click(function (e) {
            e.preventDefault();
            var clientId = $(this).data('client-id');
            var confirmDelete = confirm("Are you sure you want to delete this client?");
            if (confirmDelete) {
                var url = '@Url.Action("Delete", "Admin")' + '?id=' + clientId;
                window.location.href = url;
            }
        });
    });

</script>