@model IEnumerable<Client_Manager_App.Entities.ClientModel>

@{
    ViewData["Title"] = "Client Management";
}

<div class="container">
    <h1>Client Management</h1>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var client in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-dark ">@client.Name</h5>
                            <p class="card-text text-dark"><strong>Email:</strong> @client.Email</p>
                            <p class="card-text text-dark"><strong>Platform URL:</strong> @client.PlatformUrl</p>
                            <p class="card-text text-dark"><strong>Time Email Sent:</strong> @client.TimeEmailSent.ToNepalTime().ToString("yyyy-MM-dd HH:mm:ss")</p>
                            <p class="card-text text-dark"><strong>Is Rejected:</strong> @(client.IsRejected ? "Yes" : "No")</p>
                            <p class="card-text text-dark"><strong>Max Offer:</strong> @client.MaxOffer</p>
                            <p class="card-text text-dark"><strong>Client Type:</strong> @client.ClientType</p>
                            <div class="text-center">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@client.Id" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-danger delete-client-btn" data-client-id="@client.Id">Delete</a>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No clients found.</p>
    }

    <a asp-controller="Home" asp-action="Create" class="btn btn-success btn-lg btn-block mt-4">Create New Client</a>
</div>

<script>
    $(document).ready(function () {
        $('.delete-client-btn').click(function (e) {
            e.preventDefault();
            var clientId = $(this).data('client-id');
            var confirmDelete = confirm("Are you sure you want to delete this client?");
            if (confirmDelete) {
                // If user confirms, redirect to the delete action
                window.location.href = "/Home/Delete?id=" + clientId;
            }
        });
    });
</script>
