@model List<Client_Manager_App_Models.ClientModel>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card {
        width: calc(50%); /* Adjust for margin */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .card-body {
        padding: 25px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
    }

    .card-text {
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="container">
    <h1 class="text-center mt-5 mb-4">Welcome</h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="input-group mb-3">
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Search clients"
                   aria-label="Search clients">
            <select name="filterBy" id="filterBy" class="form-control">
                <option value="">Filter by...</option>
                <option value="Name">Name</option>
                <option value="Email">Email</option>
                <option value="MaxOffer">Max Offer</option>
            </select>
            <select name="ClientType" id="ClientType" class="form-control">
                <option value="">Client Type</option>
                @foreach (var clientType in Enum.GetValues(typeof(Client_Manager_App_Models.ClientType)))
                {
                    <option value="@clientType">@clientType</option>
                }
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        @if (Model != null && Model.Any())
        {
            @foreach (var client in Model)
            {
                <div class="col-md-4 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="https://cdn.vectorstock.com/i/500p/21/23/avatar-photo-default-user-icon-person-image-vector-47852123.jpg" class="img-fluid rounded-circle" alt="Profile Picture" style="max-width: 90px;">
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-dark">@client.Name</h5>
                                    <p class="card-text text-dark">@client.Email</p>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(client.PlatformUrl))
                            {
                                <a href="@client.PlatformUrl" class="btn btn-primary" target="_blank">Visit Platform</a>
                            }
                            else
                            {
                                <button class="btn btn-secondary" disabled>Platform Unavailable</button>
                            }
                            <button class="btn btn-info mt-2 view-details-btn" data-client-id="@client.Id">View Details</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="col-md-12 text-center">No clients found.</p>
        }
    </div>

<!-- Modal -->
<div class="modal fade" id="clientDetailsModal" tabindex="-1" role="dialog" aria-labelledby="clientDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  text-dark" id="clientDetailsModalLabel">Client Details</h5>

                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="clientDetailsContent">
                <!-- Client details will be loaded here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.view-details-btn').click(function () {
                var clientId = $(this).data('client-id');
                $.ajax({
                    url: '/Home/GetClientDetails',
                    type: 'GET',
                    data: { id: clientId },
                    success: function (data) {
                        $('#clientDetailsContent').html(data);
                        $('#clientDetailsModal').modal('show');
                    }
                });
            });
        });
    </script>
}
